@use '../variables.scss' as vars;

.article-history {
  width: 80dvw;
  height: 15dvh;
  border: 1px vars.$primary-color solid;
  box-shadow: 4px 4px 4px 0px vars.$primary-color;
  background-color: vars.$secondary-color;
  border-radius: 0.375rem;
  padding: 0.625rem;
  overflow: hidden;
  margin: 2%;
  font-size: vars.$desktop-description;
  transition: transform 0.2s ease;

  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;

  .title-like-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: vars.$desktop-title3;
    list-style-type: none;

    li:first-child {
      width: 70dvw;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: nowrap;
    }

    li:nth-child(2) {
      display: flex;
      // margin-top: -4%;
    }
  }
  li:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
  }
}

.article-history:hover {
  transform: scale(1.02); /* Effet d'agrandissement */
  // box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
