.image-animation {
  // position: absolute;
  z-index: 0;
  // width: 50%;
}

.text-animation {
  position: absolute;
  z-index: 100;
  // width: 50%;
}

// .container-animation{
//     display: flex;
//     flex-direction: row;
// }
