@use '../variables.scss' as vars;

.container-results {
  margin-top: 3dvh;
  height: 86dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 100dvw;

  .texte-results {
    align-self: center;
  }
}

@media screen and (max-width: 700px) {
  .container-results {
    height: 81dvh;
    margin-bottom: 4dvh;
  }
}
