@use '../variables.scss' as vars;
.results-container {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 18.75rem;
  width: 18.75rem;
  font-size: vars.$desktop-content;
  background-color: #afc7e1;
  filter: drop-shadow(2px 2px 4px #000000);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-container > img {
  height: 6.188rem;
  width: 15rem;
}
.results-container > p {
  padding: 0.7rem;
  margin-top: 0.2rem;
  height: 7.5rem;
  overflow: hidden;
}
.under-image-results {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.7rem;
}
.under-image-results > span {
  font-size: 1.5rem;
}
@media screen and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }
  .results-container {
    margin: 1rem;
    width: 8.75rem;
    height: 8.75rem;
  }
  .results-container > p {
    font-size: 0.9rem;
    padding: 0.3rem;
    margin-top: 0.2rem;
  }
  .under-image-results > span {
    font-size: 0.813rem;
  }
  .under-image-results > button {
    font-size: 0.3rem;
  }
  .results-container > img {
    height: 3.875rem;
    width: 7.438rem;
  }
}
