@use '../variables.scss' as vars;
.article-result-wrap {
  width: 85%;
  height: 74dvh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;
}
@media screen and (max-width: 700px) {
  .article-result-wrap {
    width: 100%;
  }
}
