@use './src/variables.scss' as vars;

.searchBar {
  border-radius: 50px;
  height: 10dvh;
  width: 50dvw;
  background-color: vars.$color-details;
  padding: 2dvh;
  display: flex;
}

.searchBar:hover {
  border: solid 0.5px vars.$primary-color;
}

.searchBar input {
  padding-left: 1.5dvh;
  background-color: vars.$color-details;
  font-family: vars.$font-family;
  color: vars.$primary-color;
  font-size: vars.$desktop-content;
  border: none;
  width: 95dvw;
}

.searchBar input::placeholder {
  opacity: 30%;
}

.searchBar input:focus {
  outline: none;
}

.searchBar input::-webkit-search-cancel-button {
  display: none;
}

@media (max-width: 770px) {
  .searchBar {
    width: 90dvw;
    height: 6dvh;
  }

  .searchBar input {
    font-size: vars.$mobile-content;
    margin: -3%;
    margin-left: 0%;
    width: 82dvw;
  }
}
