.button-like img {
  width: 1.4rem;
}

.button-like {
  background-color: transparent;
  border: none;
  color: none;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .button-like img {
    width: 1rem;
  }
}
