@use '../variables.scss' as vars;

.main-title-h1 {
  color: vars.$text-color;
  font-family: vars.$font-family;
  font-size: vars.$mobile-title3;
  font-weight: normal;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.main-title-h2 {
  color: vars.$text-color;
  font-family: vars.$font-family;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.main-title-position {
  text-align: left;
  line-height: 0.84;
  position: absolute;
  z-index: 1000;
  top: 1dvh;
  left: 2dvw;
  width: 20dvw;
}

@media screen and (max-width: 700px) {
  .main-title-h1 {
    color: vars.$text-color;
    font-family: vars.$font-family;
    font-size: vars.$mobile-title1;
    font-weight: normal;
    letter-spacing: 0.2rem;
  }

  .main-title-h2 {
    color: vars.$text-color;
    font-family: vars.$font-family;
    font-size: vars.$mobile-title2;
    font-weight: normal;
    letter-spacing: 0.2rem;
  }

  .main-title-position {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: vars.$primary-color;
    top: 0dvh;
    left: 0dvw;
  }
}

.dark-mode .main-title-h1 {
  color: vars.$light-color;
}

.dark-mode .main-title-h2 {
  color: vars.$light-color;
}
