@use '/src/variables.scss' as vars;

.MainTitleH1 {
  color: vars.$primary-color;
  font-family: vars.$font-family;
  font-size: vars.$desktop-title1;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.MainTitleH2 {
  color: vars.$primary-color;
  font-family: vars.$font-family;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.MainTitlePosition {
  text-align: center;
  line-height: 0.84;
  margin-top: 9.42dvh;
}

@media screen and (max-width: 700px) {
  .MainTitleh1 {
    color: vars.$text-color;
    font-family: vars.$font-family;
    font-size: vars.$mobile-title1;
    font-weight: normal;
    letter-spacing: 0.2rem;
  }

  .MainTitleh2 {
    color: vars.$text-color;
    font-family: vars.$font-family;
    font-size: vars.$mobile-title2;
    font-weight: normal;
    letter-spacing: 0.2rem;
  }

  .MainTitlePosition {
    display: block;
    background-color: vars.$primary-color;
    text-align: center;
    margin-top: 0;
  }
}
