@use '../variables.scss' as vars;

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

div.modal {
  width: 70dvw;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: vars.$light-color;
  padding: 1rem;
  z-index: 1001;
  border-radius: 8px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-content {
  margin-top: 1rem;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  .membersInformations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 25%;
  }
  h2 {
    display: flex;
    justify-content: center;
  }
  p {
    display: flex;
    justify-content: center;
    padding: 0 25%;
  }
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5dvh;
    .memberPicture {
      height: 10rem;
    }
    .linksButtons {
      display: flex;
      height: 2rem;
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1024px) {
  div.modal {
    max-height: 90dvh;
    overflow-x: scroll;
  }
  .membersInformations {
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  div.modal {
    max-height: 90dvh;
    // width: 70dvw;
    overflow-x: scroll;
  }

  .aboutSection p {
    padding: 0 0 5% 0;
  }
  .aboutSection,
  .membersInformations {
    padding: 0 !important;
  }
}
