.NavBar{
    background-color: #25384D;
    color:#EFF4F6;

    position: fixed;
    width: 100dvw;
    display: flex;
    flex-direction: row;    
    align-items: center;    
    justify-content: center;
    text-align: center;
    z-index: 1000;  
    gap: 2%;

    top:0;
    left:0;
    padding: 10px;

}

.NavBar img, .NavBar p{
    margin: 0;
    color: #EFF4F6;
    font-family: "Nunito", serif;
    text-decoration: none;
}
// comment faire pour retirer train du link?