@use '/src/variables.scss' as vars;

.PrincipalTitleH1 {
  color: vars.$primary-color;
  font-family: vars.$font-family;
  font-size: vars.$desktop-title1;
  font-weight: normal;
  letter-spacing: 4px;
}

.PrincipalTitleH2 {
  color: vars.$primary-color;
  font-family: vars.$font-family;
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 5px;
}

.PrincipalTitlePosition {
  text-align: center;
  line-height: 0.84;
  margin-top: 70px;
}

@media screen and (max-width: 700px) {
  .principaltitleh1 {
    color: vars.$text-color;
    font-family: vars.$font-family;
    font-size: vars.$mobile-title1;
    font-weight: normal;
    letter-spacing: 1px;
  }

  header {
    height: 70px;
  }

  .principaltitleh2 {
    color: vars.$text-color;
    font-family: vars.$font-family;
    font-size: vars.$mobile-title2;
    font-weight: normal;
    letter-spacing: 1px;
  }

  .principal-title-position {
    display: block;
    background-color: vars.$primary-color;
    text-align: center;
    margin-top: 0px;
  }
}
