@use './mixin' as mixin;
@use './variables' as vars;

@font-face {
  font-family: 'SofiaSansExtraCondensed';
  src: url('/fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SofiaSansExtraCondensed';
  src: url('/fonts/SofiaSansExtraCondensed-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: vars.$font-family;
  background-color: vars.$light-color;
  color: vars.$primary-color;
}
