// Mixin pour les polices
@mixin font-settings($size, $weight, $style) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

// Mixin pour les bordures
@mixin border-settings($bwidth, $bradius, $bcolor) {
  border-width: $bwidth;
  border-radius: $bradius;
  border-color: $bcolor;
}

// Mixin pour les thèmes
@mixin theme-colors($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}
