// Colors
$primary-color: #25384d;
$text-color: #eff4f6;
$secondary-color: #d4e1ed;
$color-details: #b4dceb;

// Themes
$dark-color: #00040f;
$light-color: #eff4f6;

// Border
$mobile-border: 1px;
$mobile-border-radius: 5px;
$desktop-border: 3px;
$desktop-border-radius: 15px;
$border-color: $primary-color;

// Fonts Types
$font-family: 'SofiaSansExtraCondensed', sans-serif;
$important: bold;
$annotated: italic;

// Font Sizes (mobile)
$mobile-title1: 2rem;
$mobile-title2: 1.5rem;
$mobile-title3: 1.25rem;
$mobile-content: 1rem;
$mobile-description: 0.875rem;

// Font Sizes (desktop)
$desktop-title1: 3.125rem;
$desktop-title2: 3rem;
$desktop-title3: 2.5rem;
$desktop-content: 2.188rem;
$desktop-description: 1.563rem;

// Links
$link-decoration: underline;
$link-color: $primary-color;
$link-hover-color: $color-details;
